
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailProduct</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div>
    <div >
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>

    <div >
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div >
        <label>Desc:</label>
        <label th:text="${product.desc}"></label>
    </div>
    <div >
        <label>Producer:</label>
        <label th:text="${product.producer}"></label>
    </div>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
